@if (isAddingTask) {
    <app-new-task (cancel)="onCancelTask()" (create)="onCreateTask($event)"/>
}
<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
        <button (click)="onStartAddTask()">
            Add Task
        </button>
    </menu>
    </header>
        @for (task of selectedUserTasks; track task.id) {
            <ul>
                <li>
                    <app-task [taskData]="task" (complete)="onCompleteTask($event)"/>
                </li>
            </ul>
        }
</section>